<!-- views/index.ejs -->
<!doctype html>
<html="en">

  <head>
    <title>TA Panel | Register Courses</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery-1.10.0.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/select2.min.css" rel="stylesheet" />
    <script src="/js/select2.min.js"></script>
  </head>
  <style>
    #bg {
      background-image: url("/images/panel.png");
      color: #4a494e;
      font-family: Courier new;
    }

    .fix {
      position: absolute;
      top: 2%;
      right: 2%;
    }

    .left {
      position: absolute;
      top: 2%;
      left: 2%;
    }
  </style>

  <body id="bg">
    <div class="container">

      <form class="form-horizontal" style="text-align:left" action="/panel/ta/registerCourses" method="post">
        <fieldset style="font-family: courier new">
          <br><br>
          <h2 style="text-align:center ; color:papayawhip">Select Courses</h2><br><br>
          <select name="course_1" id="slot1" class="slots" onchange="myfunction(this.value,1)">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
          <br><br>
          <select name="course_2" id="slot2" class="slots" onchange="myfunction(this.value,2)">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>

    </select>
          <br><br>
          <select name="course_3" id="slot3" class="slots" onchange="myfunction(this.value,3)">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
          <br><br>
          <select name="course_4" id="slot4" class="slots" onchange="myfunction(this.value,4)">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
          <br><br>
          <select name="course_5" id="slot5" class="slots" onchange="myfunction(this.value,5)">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
          <br><br>
          <select name="course_6" id="slot6" class="slots" onchange="myfunction(this.value,6)">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
          <br><br>
          <select name="course_7" id="slot7" class="slots" onchange="myfunction(this.value,7)">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
          <br><br>
          <select name="course_8" id="slot8" class="slots" onchange="myfunction(this.value,8)">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
          <br><br>

          <select name="course_9" id="slot9" class="slots" onchange="myfunction(this.value,9)">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
          <br><br>
          <button type="submit" class="btn btn-default">Register Courses</button>
      </form>
    </div>

    <a href="/logout"><button type="button" class="fix btn btn-default">Logout</button></a>
    <a href="/panel/ta"><button type="button" class="left btn btn-default">Panel</button></a>
    </div>
    <!-- /.container -->


    <script type="text/javascript">
      $(document).ready(function () {
        $(".slots").select2();
      });
      function myfunction(value, num) {
        var i = num + 1;
        while (i <= 9) {

          $("#slot" + i + " option[value=" + value + "]").remove();
          i++;
        }
      }
    </script>
  </body>

  </html>
