<!doctype html>
<html>
<body>

  <form action="/panel/ta/registerCourses" method="post">
    <select name="course_1">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
    <select name="course_2">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
    <select name="course_3">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
    <select name="course_4">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
    <select name="course_5">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
    <select name="course_6">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
    <select name="course_7">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
    <select name="course_8">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
    <select name="course_9">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>"><%=courseList[course].courseCode%></option>
      <%}%>
    </select>
    <button type="submit">Register Courses</button>
  </form>

</body>
</html>
