<!doctype html>
<html>
<head>

  <title>TA Panel | Reschedule</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery-1.10.0.min.js"></script>
  <link href="/css/select2.min.css" rel="stylesheet" />
  <script src="/js/select2.min.js"></script>
</head>
<body>

  <form action="/panel/ta/rescheduleCourse/<%=courseCode%>/getSlots?day=<%=day%>&timeSlots=<%=time%>&classSlot=<%=classSlot%>"
    method="POST">
    <div class="slots"  onclick="myfunc()">
      <%for(var i=0;i<slots.length;i++){%>


        <div><input type="radio" name="lectureHall" value="<%=slots[i].lectureHall%>" style="display:none">
          <%=slots[i].lectureHall%>
        </div>


            <%}%>
    </div>
    <br>
    <br>
    <br>
    <br>

    <input class="btn btn-default" type="submit">



  </form>
  <a href="/logout"><button type="button" class="fix btn btn-default">Logout</button></a>
  <style>
    .fix {
      position: absolute;
      top: 2%;
      right: 2%;
    }

    .slots div {
      float: left;
      width: 100px;
      height: 20px;
      padding: 5px;
      line-height: 20px;
      text-align: center;
      background: #ccc;
      margin: 2px;
      cursor: pointer;
    }

    div.selected {
      background: #00cc00;
    }
  </style>
  <script>

    function myfunc(){

      console.log(      $(this).val())
      $(this).closest(".slots").find("div").removeClass("selected");
      $(this).addClass("selected").find(":radio").click();

    }
  </script
</body>

</html>
