<!-- views/login.ejs -->
<!doctype html>
<html>


<body>

  <!-- LOGIN FORM -->

  <%
        days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'];

        timeSlots= ['08:00-08:50', '09:00-09:50', '10:30-11:20', '11:30-12:20', '12:30-13:20', '14:30-15:20', '15:30-16:20', '16:30-17:20'];
         timeSlotsF= ['08:00-08:50', '09:00-09:50', '10:00-10:50', '11:00-11:50', '12:00-12:50', '14:30-15:20', '15:30-16:20', '16:30-17:20'];

        lectureHalls = ['CS LH1', 'CS LH2', 'CS LH3', 'EE LH4', 'EE LH5', 'EE LH6', 'EE Main', 'ES LH1', 'ES LH2', 'ES LH3', 'ES LH4', 'ES Main'
                        , 'BB LH1', 'BB LH2', 'BB Main', 'ME LH1', 'ME LH2', 'ME LH3', 'ME Main', 'ED Hall', 'MCE LH1', 'MCE LH2', 'MCE LH3'
                        , 'MCE LH4', 'MCE Main'];
        id=0;%>
    <div class="tab">
      <%for(var d=0;d<5;d++) {%>
        <%if(d==0){%>
          <button class="tablinks" onclick="openTable(event, 'Monday')" id="defaultOpen"> Monday</button>
          <%}else{%>
            <button class="tablinks" onclick="openTable(event, '<%=days[d]%>')"> <%= days[d]%></button>
            <%}}%>
    </div>

    <form action="/panel/admin/updateTimetable" method="post">
      <%for(var d=0;d<5;d++) {%>

        <table style="width:100%; " id="<%=days[d]%>" class="tabcontent">
          <tbody style="width:inherit; display:table">
            <tr>
              <th></th>
              <%for(var t=0;t<8;t++) {%>
                <th>

                  <%if(days[d]=='Friday'){%>

                    <%=timeSlotsF[t]%>

                      <%}else{%>
                        <%=timeSlots[t] %>
                          <%}%>
                </th>
                <%}%>
            </tr>
            <%for(var l=0;l<25;l++) {%>
              <tr>
                <td>
                  <%=lectureHalls[l]%>
                </td>
                <% for(var o=0;o<8;o++) {
            id++
            %>
                  <td>
                    <input type="user" class="lol" value="<%=slots[id-1].courseCode%>" name="field_<%=id%>">
                  </td>
                  <%}%>
              </tr>
              <%}%>
          </tbody>
        </table>
        <% } %>
          <div id="Button">
            <button id="uploadButton">Upload TimeTable</button>
          </div>

    </form>

    <hr>
    <script>
      document.getElementById("defaultOpen").click();
      function openTable(evt, day) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(day).style.display = "block";
        document.getElementById("uploadButton").style.display = "inline";
        evt.currentTarget.className += " active";
      }
    </script>
    <style>
      body {
        text-align: center;
        align-content: center;
        margin: 0px;
      }
      
      table {
        width: initial;
        border-collapse: collapse;
        align-self: center;
        margin-bottom: 2%
      }
      
      form {
        width: 80%;
        margin-left: 10%;
        margin-top: 2.5%;
        text-align: center;
        align-self: center;
        align-content: center;
        border: none;
        max-height: 80%, border: 0 none white;
      }
      
      #Button {
        width: inherit;
        text-align: center;
        align-content: center;
        display: inline-block
      }
      
      #uploadButton {
        display: none;
        background-color: #f1f1f1;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        border: 1px solid black;
        border-radius: 5px
      }
      
      #Button button:hover {
        background-color: #ddd
      }
      
      table,
      th,
      td {
        border: 1px solid black;
      }
      
      th,
      td {
        text-align: center;
        font-size: 10.5px;
        padding-left: 3px;
        padding-right: 3px
      }
      
      .lol {
        text-align: center;
        width: 100%;
        border: none;
        font-size: inherit
      }
      
      li {
        display: inline;
      }
      
      div.tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        text-align: center;
        align-content: center
      }
      
      div.tab button {
        background-color: inherit;
        display: inline;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
      }
      
      div.tab button:hover {
        background-color: #ddd;
      }
      
      div.tab button.active {
        background-color: #ccc;
      }
      
      .tabcontent {
        display: none;
      }
    </style>
</body>

</html>