<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css" >
</head>

<body style="font-family:Courier new">

  <div class="container">
    <h2 style="text-align:center">Attendance</h2> <br>
    <h3 style="text-align:center">Select Course</h3><br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <div style="text-align:center;">Course</div>
          </th>
          <th>
            <div class="hidecol" style="text-align:center;"> Classes Held </div>
          </th>
          <th>
            <div class="hidecol" style="text-align:center;"> Attended </div>
            <th>
              <div style="text-align:center;"> Percentage </div>
            </th>
          </tr>
        </thead>
        <tbody>

          <%
          for(i in info){
            currCourse=info[i].courseCode.replace(/ /g,"_");
            %>
            <tr>
              <td>
                <div style="text-align:center;">
                  <a href="/panel/student/viewAttendance/<%=currCourse%>">
                    <%=info[i].courseCode%>
                  </a>
                </div>
              </td>
              <td>
                <div class="hidecol" style="text-align:center;">
                  <%=info[i].classesHeld%>
                </div>
              </td>
              <td>
                <div class="hidecol" style="text-align:center;">
                  <%=info[i].attended%>
                </div>
              </td>
              <%if(info[i].attendancePercent!=null){%>
                <td>
                  <div style="text-align:center;">
                    <%percent=parseInt(info[i].attendancePercent)%>
                    <%=percent%>
                  </div>
                </td>
                <%}else{%>
                  <td>
                    <div> <%=0%> </div>
                  </td>
                  <%}%>
                </tr>
                <%}
                %>

              </tbody>
            </table>
          </div>

          <a href="/logout"><button type="button" class="fix btn btn-default">Logout</button></a>
          <a href="/panel/student"><button type="button" class="left btn btn-default">Panel</button></a>




          <style>
          .fix{
            position: absolute;
            top: 2%;
            right: 2%;
          }
          .left{
            position: absolute;
            top: 2%;
            left: 2%;
          }
          .fixwidth{
            width:59px;
          }

          @media only screen and (max-width: 768px) {
            .hidecol {
              display:none;
            }
            .perc{
              left:66% !important;
            }
          }
          </style>
        </body>

        </html>
